{% extends "base.html" %}



{% block content %}

<div class="header-bar">
    <div>
        <h1> Hello {{ request.user.username|title }}</h1>
        <h3 style="margin: 0;">You have <i>{{cont}}</i> incomplete task{{cont|pluralize:"s"}}</h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>

    {% endif %}

</div>



<div id="search-add-wrapper">
    <form action="" method="get" style="margin-top:20px; display:flex;">
        <input type="text" placeholder="search..." name="search" value="{{search_input}}">
        <input class="button" type="submit" value="search">
    </form>
    <title>Add task</title>
    <a id="add-link" href="{% url 'create' %}">&#x2b;</a>
    

</div>



<!-- <h3><a href="{% url 'create' %}">Create here</a> </h3> -->
<div class="task-item-rapper">
    {% for task in tasks %}
    <div class="task-rapper">
        {% if task.complete %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'update' task.id%}">{{task}}</a></s></i>
        </div>
        <a class="delete-link" href="{% url 'delete' task.id %}">&#215;</a> 
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'update' task.id%}">{{task.title}}</a>
        </div>
        <a class="delete-link" href="{% url 'delete' task.id %}">&#215;</a>
        {% endif %}
        
    </div>
    {% empty %}
    No item in List
    {% endfor %}
</div>

</p>


<!-- <a href="{% url 'login' %}">Login</a> -->



<!-- 1:37:50 -->



{% endblock content %}